body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::after,
**::before {
  box-sizing: border-box;
}

.btn-signup-link {
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 35px;
  padding-bottom: 13px;
  cursor: pointer;
  transition: background-position 1s ease-in-out;
}
.btn-signup-link:hover {
  background-position: 0 0;
}

.btn-signup-link-desktop {
  color: hsl(13, 100%, 72%);
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 35px;
  padding-bottom: 13px;
  cursor: pointer;
  transition: 1s;
}
.btn-signup-link-desktop:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: hsl(0, 0%, 100%);
}

.btn-start-free-home {
  color: hsl(13, 100%, 72%);
  cursor: pointer;
  transition: 1s;
}
.btn-start-free-home:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: hsl(0, 0%, 100%);
}

.login-link-btn {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: hsl(207, 13%, 34%);
}

.login-link-btn-desktop {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.btn-learn-more {
  cursor: pointer;
  font-weight: 600;
  transition: 0.8s;
}
.btn-learn-more:hover {
  color: hsl(13, 100%, 72%);
  background-color: hsl(0, 0%, 100%);
}

nav {
  width: 100vw;
  height: 13vh;
}
nav .container-btn-mobile {
  border-top: 0.1px solid hsl(240, 2%, 79%);
}
nav .container-ul {
  transition: 0.3s;
  box-shadow: 45px 45px 50px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 768px) {
  nav .container-ul {
    box-shadow: none;
  }
}
@media only screen and (max-width: 768px) {
  nav .container-ul {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}
nav .container-ul ul {
  padding: 0;
  width: 100%;
}
nav .container-ul ul li a {
  font-weight: 600;
  transition: 1s;
  display: block;
  width: 100%;
  color: hsl(0, 0%, 88%);
}
nav .container-ul ul li a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
}
@media only screen and (max-width: 768px) {
  nav .container-ul ul li a {
    color: hsl(240, 10%, 16%);
  }
  nav .container-ul ul li a:hover {
    color: hsl(207, 13%, 34%);
  }
}

.active-nav {
  height: fit-content !important;
  padding: 8% !important;
  overflow: hidden;
}

.section-home .container-home-page {
  background-color: hsl(13, 100%, 72%);
  border-bottom-left-radius: 100px;
  overflow: hidden;
  padding-bottom: 10%;
}
@media only screen and (max-width: 568px) {
  .section-home .container-home-page {
    padding-bottom: 25%;
  }
}
.section-home .container-home-page .container-text {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.section-home .container-home-page .container-text h1 {
  font-size: 50px;
  padding: 0 4%;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .section-home .container-home-page .container-text h1 {
    font-size: 40px;
  }
}
.section-home .container-home-page .container-text p {
  font-size: 17px;
}
.section-home .container-items .container-title h1 {
  font-size: 35px;
  font-weight: 600;
  color: hsl(207, 13%, 34%);
}
.section-home .container-items .container-title h3 {
  font-weight: 600;
  color: hsl(207, 13%, 34%);
  font-size: 25px;
}
.section-home .container-items- {
  background-color: hsl(237, 17%, 21%);
  padding: 4% 20px;
  overflow: hidden;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
@media only screen and (min-width: 768px) {
  .section-home .container-items- {
    max-height: 55vh;
  }
}
@media only screen and (min-width: 768px) {
  .section-home .container-items- {
    padding: 0 5%;
  }
}
.section-home .container-items- .container-padder {
  height: 100%;
  width: 100%;
}
.section-home .container-items- .container-padder .container-articles-phone {
  padding: 35px;
  margin-top: -30%;
  width: 50%;
  float: right;
}
@media only screen and (max-width: 768px) {
  .section-home .container-items- .container-padder .container-articles-phone {
    padding-right: 0;
    margin-top: 0%;
    width: 100%;
    float: none;
  }
}
.section-home .container-items- .container-padder .container-articles-phone .containr-padder {
  top: 0;
}
.section-home .container-items- .container-padder .container-articles-phone .containr-padder h1 {
  font-size: 30px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.section-home .container-items- .container-padder .container-articles-phone .containr-padder p {
  font-size: 17px;
  margin-top: 2%;
  color: hsl(240, 2%, 79%);
}
.section-home .container-items- .container-padder .pattern-circle {
  overflow: hidden;
  width: 70%;
  left: 0;
}
@media only screen and (min-width: 768px) {
  .section-home .container-items- .container-padder .pattern-circle {
    margin-left: -10%;
  }
}
@media only screen and (max-width: 768px) {
  .section-home .container-items- .container-padder .pattern-circle {
    margin-left: -5%;
    width: 100% !important;
    margin-top: -30%;
    display: flex;
    justify-content: center;
  }
}
.section-home .container-items- .container-padder .pattern-circle img {
  margin-top: -50%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .section-home .container-items- .container-padder .pattern-circle img {
    margin-top: 0%;
    width: 80%;
  }
}
.section-home .container-items- .container-padder .container-img-phone {
  position: absolute;
  left: 0;
  margin-top: -8%;
  z-index: 33;
}
@media only screen and (max-width: 768px) {
  .section-home .container-items- .container-padder .container-img-phone {
    margin-top: -4%;
    display: flex;
    justify-items: center;
  }
}
.section-home .container-items- .container-padder .container-img-phone img {
  width: 80%;
}

/*# sourceMappingURL=main.css.map */
