@use "../base/color" as color;

nav {
  width: 100vw;
  height: 13vh;

  .container-ul {
    transition: 0.3s;

    @media only screen and (max-width: 768px) {
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    ul {
      padding: 0;
      width: 100%;

      li {
        a {
          font-weight: 600;
          transition: 1s;
          display: block;
          width: 100%;

          &:hover {
            color: color.$Very-dark-grayis-hblue;
          }
        }
      }
    }
  }
}

.active-nav {
  height: fit-content !important;
  padding: 8% !important;
  overflow: hidden;
}
