@use "../base/color" as color;

nav {
  width: 100vw;
  height: 13vh;

  .container-btn-mobile {
    border-top: 0.1px solid color.$Grayish-blue;
  }

  .container-ul {
    transition: 0.3s;
    box-shadow: 45px 45px 50px rgba(0, 0, 0, 0.3);

    @media only screen and (min-width: 768px) {
      box-shadow: none;
    }

    @media only screen and (max-width: 768px) {
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    ul {
      padding: 0;
      width: 100%;

      li {
        a {
          font-weight: 600;
          transition: 1s;
          display: block;
          width: 100%;
          color: color.$White-two;

          &:hover {
            text-decoration: underline;
            color: color.$White;
          }

          @media only screen and (max-width: 768px) {
            color: color.$Very-dark-black-blue;

            &:hover {
              color: color.$Very-dark-grayis-hblue;
            }
          }
        }
      }
    }
  }
}

.active-nav {
  height: fit-content !important;
  padding: 8% !important;
  overflow: hidden;
}
